.suggestion-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-action {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 12px;
  height: 60px;
  cursor: pointer;
}
